$color-invalid: rgba(242, 78, 19, 1);

$color-emphasize: rgba(47, 123, 221, 1);
$color-normal-text: rgba(8, 16, 38, 1);
$color-placeholder-text: rgba(191, 191, 191, 1);

$color-disabled: rgba(140, 140, 140, 1);

$color-shadow: rgba(45, 51, 63, 0.7);

$full-size: 100%;
$default-radius: 4px;
