@import './../../styles/values';

.header {
  font-weight: bold;
  h1 {
    font-size: 2rem;
    color: $color-normal-text;

    line-height: 2;
  }

  p {
    font-size: 1.1rem;
    color: $color-emphasize-text;
  }

  margin-bottom: 2rem;
}
